h1{
    color: white
}
p{
    font: size 20px;
}

#top{
    text-decoration:underline;
    color: #0062bb;
}

.emphasizedtext{
    font-weight:bold;
    font-style:italic;
    color:#0062bb
    
}

body{
    background-color:aliceblue;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align:center;
    border: 5px solid black;
    margin: 15px;
    padding: 20px;
}

ul{
    list-style-position: inside;
    
}

ol{
    list-style-position: inside;
    display: inline-block;
    padding-left: 0;
    text-align: left;
}

.list{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(192, 187, 187);
    border: 3px solid black;
    position: relative;
}

.list1{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(247, 207, 133);
    border: 3px solid black;
    position: relative;
}

.list2{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(67, 214, 106);
    border: 3px solid black;
    position: relative;
}